.table {
    width: 100% !important;  /* Ensuring the table takes the full width of its container */
    max-width: 100% !important;  /* Adding a max-width constraint */
}

th, td {
    padding: 24px !important;  /* Keeping the padding as defined */
    border: 1px solid #ddd !important;
    text-align: left !important;
}

.input-field {
    width: calc(100% / 3 - 20px) !important;
    margin-right: 20px !important;
}

.file-upload-cell .button {
    display: inline-block;      /* Ensuring button stays inline */
    height: auto;               /* Original button height */
    margin-right: 10px;         /* Spacing between button and text */
}

.file-controls {
    display: flex;              /* Flex for horizontal alignment */
    align-items: center;        /* Center items vertically */
}

.file-controls .file-name, .file-controls .file-not-found {
    margin-left: 20px;          /* Spacing between elements */
}