/* src/utils/ShowPicture.module.css */
.image {
    width: 10vw; /* Use vw for responsive width */
    height: 10vw; /* Use vw for responsive height */
    transition: transform 0.3s ease; /* Smooth transition for transform */
}

.image:hover {
    transform: scale(2); /* Scale the image to twice its size on hover */
}

.large {
    width: 25vw; /* Use vw for responsive large width */
    height: 25vw; /* Use vw for responsive large height */
}