.button-green {
    background-color: #4CAF50; /* Green shade */
    border: none;
    color: white;
    padding: 0.5em 1em; /* Use em for scalable padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em; /* Use em for font size */
    margin: 0.4em 0.2em; /* Use em for margins */
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-green:hover {
    background-color: #45a049; /* Slightly darker green on hover */
}

.styled-table {
    width: 100%; /* Full width to fill the container */
    border-collapse: collapse;
    margin: 2.5% 0; /* Use % for margin to ensure consistency */
    font-size: 1.2em;
    min-width: 400px; /* Keeping min-width for table structure */
}

.styled-table th, .styled-table td {
    padding: 0.9em 1.2em; /* Use em for padding */
    text-align: left;
}

.styled-table thead tr {
    background-color: #009879; /* Table header color */
    color: white;
    text-align: left;
    font-weight: bold;
}

.entity-row.even {
    background-color: #f3f3f3; /* Shade 1 */
}

.entity-row.odd {
    background-color: #e7e7e7; /* Shade 2 */
}

.entity-row:hover {
    background-color: #cccccc; /* Hover background color */
    cursor: pointer;
}